body {
  padding-top: 56px;
}

.screen-body {
  padding-top: 0;
}

.cje-logo {
  width: 40px;
  border: 2px $white solid;
  margin-right: .5rem;
}

.navbar {
  padding-top: .25rem;
  padding-bottom: .25rem;
}

.modal-dialog {
  margin-top: 70px;
}

.option-tag {
  font-weight: bold;
  padding: .25rem .5rem;
  background: $gray-200;
  border-radius: .5rem;
  text-align: center;

  &.option-tag-1 {
    background: lighten($green, 40%);
    color: darken($green, 20%);
  }
  
  &.option-tag-2 {
    background: lighten($red, 35%);
    color: darken($red, 20%);
  }
  
  &.option-tag-3 {
    background: lighten($orange, 40%);
    color: darken($orange, 20%);
  }
  
  &.option-tag-4 {
    background: lighten($blue, 40%);
    color: darken($blue, 20%);
  }
  
  &.option-tag-5 {
    background: $gray-400;
    color: $gray-800;
  }
}