body {
  padding-top: 56px;
}

.screen-body {
  padding-top: 0;
}

.cje-logo {
  width: 40px;
  border: 2px $white solid;
  margin-right: .5rem;
}

.navbar {
  padding-top: .25rem;
  padding-bottom: .25rem;
}

.modal-dialog {
  margin-top: 70px;
}

.modal-backdrop {
  opacity: .5;
}

.option-tag {
  font-weight: bold;
  padding: .25rem .5rem;
  background: $gray-200;
  border-radius: .5rem;
  text-align: center;
}

.option-invert {
  @each $name, $color in $colors {
    &.#{$name} {
      background: mix($color, $white, 15%);
      color: darken($color, 15%);
    }
  }
}

.option-fill {
  @each $name, $color in $colors {
    &.#{$name} {
      background: $color;
      color: $white;
    }
  }
}
