body {
  padding-top: 56px;
}

.screen-body {
  padding-top: 0;
}

.cje-logo {
  width: 40px;
  border: 2px $white solid;
  margin-right: .5rem;
}

.navbar {
  padding-top: .25rem;
  padding-bottom: .25rem;
}

.modal-dialog {
  margin-top: 70px;
}